#!/bin/bash
# vim:ft=sh:ai:et:si:sts=4:sw=4
#
# config script for mtvclient
#
set -e
. /usr/share/debconf/confmodule

MTVCONFIG="/etc/mtv_cli.conf"

# template questions
declare -a CONFIG=(
msg_level
date_cutoff
dauer_cutoff
num_downloads
ziel_downloads
qualitaet
)

declare -a WEB=(
port
host
)

#
# compare values with existing debconf values
# manually changed values are treated as unseen
#
function mtv_dbsetseen() {
    local question="$1"
    local value="$2"
    if db_get mtvclient/$1 ; then
        if [[ ${RET} == ${value} ]]; then
            return 0
        else
            db_set mtvclient/$1 ${value} || true
            db_fset mtvclient/$1 seen false || true
        fi
    fi
}

#
# parse existing config and set debconf values
# in case somebody changed the config file manually
#
function mtv_parseconfig() {
    if [[ -f "${MTVCONFIG}" ]]; then
        for c in "${CONFIG[@]}"
        do
            if MTVC="$( crudini --get "${MTVCONFIG}" CONFIG "${c^^}" )" && [[ -n "${MTVC}" ]]; then
                mtv_dbsetseen "${c}" "${MTVC}"
            fi
        done
        for w in "${WEB[@]}"
        do
            if MTVC="$( crudini --get "${MTVCONFIG}" WEB "${w^^}" )" && [[ -n "${MTVC}" ]]; then
                mtv_dbsetseen "${c}" "${MTVC}"
            fi
        done
    fi
}

case "$1" in
    configure|reconfigure)
        mtv_parseconfig

        for c in "${CONFIG[@]}" "${WEB[@]}"
        do
            db_input medium mtvclient/${c} || true
            db_go || true
        done
    ;;
    *)
    ;;
esac

# dh_installdeb will replace this with shell code automatically
# generated by other debhelper scripts.

#DEBHELPER#

exit 0
